.speech{color: #000000;font-family: Georgia, 'Times New Roman', Times, serif;font-size: medium;}
.direction{color: hsl(0, 0%, 0%);font-family: 'Times New Roman', Times, serif; font-size: smaller;background-color: rgb(184, 240, 240);}
.direction:hover{background-color: red;color:blue}
.name{color: rgb(0, 0, 0);font-family: 'Times New Roman', Times, serif; font-size: smaller;}
.ari{color:hsl(180, 100%, 50%)}
.chry{color:black}
